@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1d21;
  --headerBrown: #8A716A
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff
    --foreground: #1c1d21;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.app-header {
  background-color: var(--headerBrown);
  padding: 1rem;
  color: var(--background);
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}